<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cheerup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logopng"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logopng"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NotesView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotesListDisplay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostDisplay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WriteNotes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TitleDisplay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListDisplay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>